<h1>Tasks#edit</h1>
<p>Find me in app/views/tasks/edit.html.erb</p>
<hr>
<%= form_for(@task) do |f| %>
  <%= f.label :name, "Task Name" %>
  <%= f.text_field :name %>
  <%= f.label :description, "Task Description" %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
